@tailwind base;
@tailwind components;
@tailwind utilities;

/* overrides for artsy login form */

.artsy-next-auth-form {
  max-width: 60em;
  margin: auto;
  margin-top: 10vh;
}

.artsy-next-auth-form div {
  width: 20em;
  margin: 1em auto;
}

.artsy-next-auth-form label,
.artsy-next-auth-form input {
  font-size: 1em;
  line-height: 1em;
  padding: 0.25em 0;
  margin: 0.25em 0;
}

.artsy-next-auth-form button {
  background: black;
  color: white;
  padding: 0.5em;
}

.artsy-next-auth-form input {
  width: 100%;
  border: solid 1px gray;
  padding: 0.5em;
}

.artsy-next-auth-form .error {
  color: red;
}
